
html,
body,
#app {
    height: 100%;
}

html {
    overflow-x: hidden;
}

html.grayscale {
    filter: grayscale(100%);
}

.bg-color{
    --un-bg-opacity: 1;
    background-color: rgb(var(--bg-color-color) / var(--un-bg-opacity));
}

.bg-container {
    --un-bg-opacity: 1;
    background-color: rgb(var(--container-bg-color) / var(--un-bg-opacity)) ;
}

.bg-container\! {
    --un-bg-opacity: 1 !important;
    background-color: rgb(var(--container-bg-color) / var(--un-bg-opacity));
}

.bg-layout {
    --un-bg-opacity: 1;
    background-color: rgb(var(--layout-bg-color) / var(--un-bg-opacity));
}

.bg-layout\! {
    --un-bg-opacity: 1;
    background-color: rgb(var(--layout-bg-color) / var(--un-bg-opacity)) !important;
}

.bg-drawer{
    --un-bg-opacity: 1;
    background-color: rgb(var(--drawer-bg-color) / var(--un-bg-opacity));
}

.shadow-header {
    --un-shadow: var(--header-box-shadow);
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}

.shadow-sider {
    --un-shadow: var(--sider-box-shadow);
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}

.shadow-tab {
    --un-shadow: var(--tab-box-shadow);
    box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}

.text-base_text {
    --un-text-opacity: 1;
    color: rgb(var(--base-text-color) / var(--un-text-opacity));
}

.text-base_text\! {
    --un-text-opacity: 1;
    color: rgb(var(--base-text-color) / var(--un-text-opacity)) !important;
}

.size-full {
    width: 100%;
    height: 100%;
}

